apipkg==1.4
cffi==1.5.0
docopt==0.6.2
execnet==1.4.1
freetype-py==1.0.2
future==0.15.2
glfw-cffi==0.1.8
numpy==1.10.4
-e git+git@github.com:brianbruggeman/oogli.git@536b79612dcd1777919f71061285806d7de17b34#egg=oogli
py==1.4.31
pycparser==2.14
PyOpenGL==3.1.0
pytest==2.8.5
pytest-xdist==1.13.1
wheel==0.26.0
